<div>
  <h1>ng-modal demo</h1>

  <ul>
    <li><button (click)="firstModal.open()">1. Simple Dialog</button></li>
    <li><button [routerLink]="['modal-component']">2. Routed Dialog</button></li>
    <li><button [routerLink]="['../', { outlets: { modal: ['modal-component'] } }]">3. Routed Dialog within Outlet</button></li>
    <li><button (click)="openModal()">4. Programmatic Dialog</button></li>
  </ul>

  <modal #firstModal>
    <modal-header>
      <h4>I am a Simple Dialog</h4>
    </modal-header>
    <modal-content>
      This dialog is defined inside a template of another component.
    </modal-content>
    <modal-footer>
      <button (click)="firstModal.close()">okay!</button>
    </modal-footer>
  </modal>
</div>

<router-outlet></router-outlet>
<router-outlet name="modal"></router-outlet>
