<div #modalRoot
     class="ind-modal"
     [class.ind-modal-popup]="type === 'popup'"
     [class.ind-modal-side-panel]="type === 'side-panel' || type === 'large-side-panel'"
     [class.ind-modal-side-panel--lg]="type === 'large-side-panel'"
     [class.ind-modal-closing]="isClosing"
     [class.sticky-footer]="stickyFooter"
     [ngStyle]="{ display: isOpened ? 'block' : 'none' }"
     tabindex="-1"
     role="dialog"
     (keydown.esc)="onEscapePressed()">

  <div class="modal-backdrop" (click)="onOutsideClick()"></div>

  <div class="modal-content" tabindex="0">
    <div #header>
      <div class="modal-header">
        <ng-content select="ind-modal-header"></ng-content>
      </div>
      <ng-content select="ind-model-header-after"></ng-content>
    </div>
    <div #body class="modal-body">
      <ng-content select="ind-modal-content"></ng-content>
    </div>
    <!--changed indentation for css reasons for :empty pseudo class to work-->
    <div #footer class="modal-footer"><ng-content select="ind-modal-footer"></ng-content></div>
    <div *ngIf="showCloseButton" class="close" data-dismiss="modal" [attr.aria-label]="'Close'" (click)="onCloseButtonClick()"></div>
  </div>
</div>
