<div class="modal-backdrop" (click)="onOutsideClick()"></div>

<div class="modal-dialog" tabindex="0">
  <div class="modal-content">
    <div #header class="modal-header">
      <ng-content select="ind-modal-header"></ng-content>
      <div *ngIf="showCloseButton" class="close" data-dismiss="modal" [attr.aria-label]="'Close'" (click)="onCloseButtonClick()"></div>
    </div>
    <div #body class="modal-body">
      <ng-content select="ind-modal-content"></ng-content>
    </div>
    <div #footer class="modal-footer">
      <ng-content select="ind-modal-footer"></ng-content>
    </div>
  </div>
</div>
