$screen-sm-min:             768px;
$screen-xs-max:             ($screen-sm-min - 1);
$screen-lg-min:             1200px;
$screen-md-min:             992px;

$zindex-modal:              1100;
$zindex-modal-bg:           1050;

$white:                     #FFFFFF;
$grey:                      #EFEEEA;
$purple:                    #3F51B5;
$dark-purple:               #1A237E;
$dark-grey:                 #CAC9C7;
$darker-grey: 	            #737373;
$darkest-grey:              #4B4B4B;
$border-grey :              #CDCCCC;
$headings-color:            $purple;
$border-color:              $grey;
$backdrop:                  rgba(0,0,0,.6);

$font-size-h2:              28px;
$headings-line-height:      1.1;
$font-weight-semibold:      600;

@font-face {
	font-family: 'modal';
	src: url('/assets/fonts/modal/modal-bjtpkxr2z.eot');
	src: url('/assets/fonts/modal/modal-bjtpkxr2z.eot?#iefix') format('eot'),
		url('/assets/fonts/modal/modal-bjtpkxr2z.woff') format('woff'),
		url('/assets/fonts/modal/modal-bjtpkxr2z.ttf') format('truetype');
}

@mixin icon--styles {
  font-family: 'modal';
  font-smoothing: antialiased;
  font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

%icon- {
	@include icon--styles;
}

@function icon--char($filename) {
	$char: "";

	@if $filename == close-button {
		$char: "\E001";
	}
	@if $filename == cross {
		$char: "\E002";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon-;
		} @else {
			@include icon--styles;
		}
		content: icon--char($filename);
	}
}

@-webkit-keyframes ind-modal-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ind-modal-fadeout {
  0% {
    z-index: auto;
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    z-index: -1;
    opacity: 0;
  }
}

@-webkit-keyframes ind-modal-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ind-modal-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ind-modal-rotatein {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes ind-modal-rotatein {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

@-webkit-keyframes ind-modal-rotateout {
  0% {
    opacity: 1;
    transform: rotateX(0);
  }

  100% {
    opacity: 0;
    transform: rotateX(90deg);
  }
}

@keyframes ind-modal-rotateout {
  0% {
    opacity: 1;
    transform: rotateX(0);
  }

  100% {
    opacity: 0;
    transform: rotateX(90deg);
  }
}

@-webkit-keyframes ind-modal-slidein {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes ind-modal-slidein {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes ind-modal-slideout {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes ind-modal-slideout {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@media(min-width:$screen-sm-min) {
  @-webkit-keyframes ind-modal-slidein {
    0% {
      left: -768px;
    }

    100% {
      left: 0;
    }
  }

  @keyframes ind-modal-slidein {
    0% {
      left: -768px;
    }

    100% {
      left: 0;
    }
  }

  @-webkit-keyframes ind-modal-slidein--lg {
    0% {
      left: -1130px;
    }

    100% {
      left: 0;
    }
  }

  @keyframes ind-modal-slidein--lg {
    0% {
      left: -1130px;
    }

    100% {
      left: 0;
    }
  }

  @-webkit-keyframes ind-modal-slideout {
    0% {
      left: 0;
    }

    100% {
      left: -768px;
    }
  }

  @keyframes ind-modal-slideout {
    0% {
      left: 0;
    }

    100% {
      left: -768px;
    }
  }

  @-webkit-keyframes ind-modal-slideout--lg {
    0% {
      left: 0;
    }

    100% {
      left: -1130px;
    }
  }

  @keyframes ind-modal-slideout--lg {
    0% {
      left: 0;
    }

    100% {
      left: -1130px;
    }
  }
}


.ind-modal {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: $zindex-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  h2 {
    font-weight: 300;
  }

  .modal-backdrop {
    position: fixed;
    background: $backdrop;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-bg;
    backface-visibility: hidden;
    height: 200%; // temporary fix for whitespace when scrolling...
  }

  .modal-content {
    z-index: $zindex-modal;
    background: $white;
    backface-visibility: hidden;
    transform: translate3d(0,0,1px);
    &:focus {
      outline: none;
    }
    .close {
      text-align:center;
      @include icon(cross, before);
      cursor:pointer;
      &:before {
        font-size: 8px;
        line-height: 20px;
        vertical-align: text-bottom;
      }
    }

    .modal-footer {
      margin-top: 30px;

      &:empty {
        margin: 0;
        padding: 0;
      }
    }
  }

  &.ind-modal-closing {
    .ind-modal-popup {
      .modal-backdrop {
        backface-visibility: hidden;
        animation: ind-modal-fadeout 1s;
      }
    }
  }

  &.ind-modal-popup {
    perspective: 1500px;
    overflow-x: hidden;

    .modal-backdrop {
      background: $backdrop;
      animation: ind-modal-fadein 1s;
    }    

    .modal-content {
      animation: ind-modal-rotatein 1s;
      color: $darkest-grey;
      margin: 0 auto;
      max-width: 100%;
      padding: 15px;
      position: relative;      

      .modal-header {
        font-size: $font-size-h2;
        line-height: $headings-line-height;
        color: $headings-color;
        padding-bottom: 13px;
        margin-bottom: 20px;
        border-bottom: 2px solid $border-color;
        font-weight: $font-weight-semibold;
        padding-right:50px;
      
        span {
          padding-right: 40px;
        }
      }

      .modal-body {
        padding-top: 30px;
      }
    }
  
    &.ind-modal-closing {
      .modal-backdrop {
        animation: ind-modal-fadeout 0.5s;
        backface-visibility: hidden;        
      }

      .modal-content {
        animation: ind-modal-rotateout 1s;
        backface-visibility: hidden;       
      }
    }

    .close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 15px;
      width: 38px;
      height: 38px;
      color: $border-grey;
      @include icon(close-button);
      &:before {
        font-size:36px;
        line-height:1em;
      }
    }

    @media(max-width:$screen-sm-min) { 
      .modal-content {
        animation: ind-modal-slidein 1s;        
      }
    
      &.ind-modal-closing {
        .modal-content {
          animation: ind-modal-slideout 1s;
        }
      }
    }
    
    @media(min-width:$screen-sm-min) {
      padding-bottom: 160px;
      padding-top: 160px;

      .modal-content {
        padding: 30px 30px;
        width: 666px;
      }

      .close {
        right: 30px;
        top: 20px;
      }
    }

    @media(max-width:$screen-xs-max){
      &.sticky-footer {
        .modal-content {
          position: absolute;
          top: 0;
          bottom: 0;
          padding: 0;

          .modal-header {
            padding: 5px 50px 15px 0;
            margin: 0 15px;
          }
          .modal-body {
            padding: 30px 15px;
            position: absolute;
            left: 0;
            right: 0;
            overflow-y: auto;
          }
          .modal-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: $grey;
            padding: 0 15px;
          }
        }       
      }
    }
  }

  &.ind-modal-side-panel {
    overflow-x: hidden;
    user-select: auto !important;
    
    .modal-backdrop {
      background: $backdrop;
      animation: ind-modal-fadein 0.7s;
    }
  
    .modal-content {
      animation: ind-modal-slidein 0.7s;
      color: $darkest-grey;
      position: absolute;
      width: 768px;
      max-width: 100%;
      top: 0;
      bottom: 0;
      border-right: 2px solid $dark-purple;
  
      .modal-header {
        font-size: $font-size-h2;
        line-height: $headings-line-height;
        color: $white;
        font-weight: $font-weight-semibold;
        padding: 15px 65px 15px 15px;
        background-color: $purple;
        border-bottom: 3px solid rgba(0,0,0,.07);
        h1 {
          color: $white;
          margin: 0;
        }
      }
      
      .modal-body {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        padding: 15px;
      }
  
      .modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px;
      }
    }
    
    .close {
      position: absolute;
      top: 14px;
      right: 15px;
      width: 30px;
      height: 30px;
      line-height:20px;
      cursor: pointer;
      //ADDED//
      background-color: darken($purple, 20%);
      border-radius: 50%;
      text-align:center;
      @include icon(cross, after);
  
      &:after {
        color: $white;
        font-size: 12px;
        line-height: 20px;
        position: relative;
        top: 5px;
      }
  
      &:before {
        content: none;
      }
  
      &:hover:before,
      &:active:before {
        color: $darker-grey;
      }
    }
  
    &.ind-modal-closing {
      .modal-backdrop {
        backface-visibility: hidden;
        animation: ind-modal-fadeout 0.5s;
      }
      
      .modal-content {
        animation: ind-modal-slideout .5s;
      }
    }
  
    @media(min-width:$screen-sm-min) {
      .modal-content {
        .modal-header {
          font-size: $font-size-h2;
          padding: 20px 80px 20px 50px;
        }    
        
        .modal-body {
          padding: 30px 50px;
        }
  
        .modal-footer {
          padding: 20px 50px 20px 50px;
        }
      }
  
      .close {
        right: 22px;
        top: 24px;
      }    
    }
  
    @media(min-width:$screen-md-min) {
      &.ind-modal-closing {
        .modal-content {
          animation: ind-modal-slideout--lg .5s;
        }
      }

      &.ind-modal-side-panel--lg {
        .modal-content {
          width: 90%;
          max-width: 1130px;
          animation: ind-modal-slidein--lg 0.7s;
        }
      }
    }
  
    @media(min-width:$screen-lg-min) {
      .modal-content {       
        .modal-header {
          font-size: $font-size-h2;
        }
      }
    }
  }
}

body {
  &.ind-modal-open {
    overflow: hidden;
  }

  //This fixes an issue with mobile (safari/chrome on IOS), which scrolls the site behind the dialog when scrolling beyond the scroll point
  @media(max-width:$screen-xs-max) {
    &.ind-modal-open-done {
      position: fixed;
      left: 0;
    }
  }
}



























