$screen-sm-min:             768px;
$screen-xs-max:             ($screen-sm-min - 1);
$screen-lg-min:             1200px;
$screen-md-min:             992px;

$zindex-modal:              1100;
$zindex-modal-bg:           1050;

$white:                     #FFFFFF;
$grey:                      #EFEEEA;
$purple:                    #3F51B5;
$dark-purple:               #1A237E;
$dark-grey:                 #CAC9C7;
$darker-grey: 	            #737373;
$darkest-grey:              #4B4B4B;
$border-grey :              #CDCCCC;
$headings-color:            $purple;
$border-color:              $grey;
$backdrop:                  rgba(0,0,0,.6);

$font-size-h2:              28px;
$headings-line-height:      1.1;
$font-weight-semibold:      600;

@font-face {
	font-family: 'modal';
	src: url('/assets/fonts/modal/modal-bjtpkxr2z.eot');
	src: url('/assets/fonts/modal/modal-bjtpkxr2z.woff') format('woff'),
		   url('/assets/fonts/modal/modal-bjtpkxr2z.ttf') format('truetype');
}

@mixin icon--styles {
  font-family: 'modal';
  font-smoothing: antialiased;
  font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

%icon- {
	@include icon--styles;
}

@function icon--char($filename) {
	$char: "";

	@if $filename == close-button {
		$char: "\E001";
	}
	@if $filename == cross {
		$char: "\E002";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon-;
		} @else {
			@include icon--styles;
		}
		content: icon--char($filename);
	}
}

@-webkit-keyframes modal-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes modal-fadeout {
  0% {
    z-index: auto;
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    z-index: -1;
    opacity: 0;
  }
}

@-webkit-keyframes modal-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes modal-rotatein {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes modal-rotatein {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

@-webkit-keyframes modal-rotateout {
  0% {
    opacity: 1;
    transform: rotateX(0);
  }

  100% {
    opacity: 0;
    transform: rotateX(90deg);
  }
}

@keyframes modal-rotateout {
  0% {
    opacity: 1;
    transform: rotateX(0);
  }

  100% {
    opacity: 0;
    transform: rotateX(90deg);
  }
}

@-webkit-keyframes modal-slidein {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes modal-slidein {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes modal-slideout {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes modal-slideout {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@media(min-width:$screen-sm-min) {
  @-webkit-keyframes modal-slidein {
    0% {
      left: -768px;
    }

    100% {
      left: 0;
    }
  }

  @keyframes modal-slidein {
    0% {
      left: -768px;
    }

    100% {
      left: 0;
    }
  }

  @-webkit-keyframes modal-slideout {
    0% {
      left: 0;
    }

    100% {
      left: -768px;
    }
  }

  @keyframes modal-slideout {
    0% {
      left: 0;
    }

    100% {
      left: -768px;
    }
  }
}


.modal {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: $zindex-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 1500px;
  overflow-x: hidden;

  h2 {
    font-weight: 300;
  }

  .modal-backdrop {
    position: fixed;
    background: $backdrop;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-bg;
    backface-visibility: hidden;
    height: 200%; // temporary fix for whitespace when scrolling...
    animation: modal-fadein 1s;
  }

  .modal-dialog {
    z-index: $zindex-modal;
    background: $white;
    backface-visibility: hidden;
    transform: translate3d(0,0,1px);
    animation: modal-rotatein 1s;
    color: $darkest-grey;
    margin: 0 auto;
    max-width: 100%;
    padding: 15px;
    position: relative;

    &:focus {
      outline: none;
    }

    .modal-content {
      .modal-header {
        font-size: $font-size-h2;
        line-height: $headings-line-height;
        color: $headings-color;
        padding-bottom: 13px;
        margin-bottom: 20px;
        border-bottom: 2px solid $border-color;
        font-weight: $font-weight-semibold;
        display: flex;

        span {
          padding-right: 40px;
        }

        ind-modal-header {
          flex: 1;
        }

        .close {
          text-align:center;
          @include icon(cross, before);
          cursor: pointer;
          color: $border-grey;
          @include icon(close-button);
        }
      }

      .modal-footer {
        margin-top: 30px;

        &:empty {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  &.modal-closing {
    .modal-backdrop {
      animation: modal-fadeout 0.5s;
      backface-visibility: hidden;
    }

    .modal-dialog {
      animation: modal-rotateout 1s;
      backface-visibility: hidden;
    }
  }

  @media(max-width:$screen-sm-min) {
    .modal-dialog {
      animation: modal-slidein 1s;
    }

    &.modal-closing {
      .modal-dialog {
        animation: modal-slideout 1s;
      }
    }
  }

  @media(min-width:$screen-sm-min) {
    padding-bottom: 160px;
    padding-top: 160px;

    .modal-dialog {
      padding: 30px 30px;
      width: 666px;

      .modal-content {
        .modal-header {
          .close {
            top: -12px;
          }
        }
      }
    }
  }
}

body {
  &.modal-open {
    overflow: hidden;
  }
}
